body{
    background: maroon url("../resources/cherryTable.jpg");
    color: white;
}

#logoTitle{
    text-align: center;
}

#title, #menu, #coffeeVote, #contact, #carouselBody{
    background: #000000 url("../resources/board.jpg");
    background-size: cover;
}

.modal{
    color: white;
    background: maroon url("../resources/cherryTable.jpg");
    background-size: cover;
}

.modal-content{
    background: black url("../resources/board.jpg");
}

.card-img-top{
    padding: 2em;
}

.card{
    margin-top: 4em;
    text-align: center;
}

