body{
    background: maroon url("../images/cherryTable.jpg");
    color: white;
}

#logoTitle{
    text-align: center;
}

.modal, #title, #menu, #coffeeVote, #contact, #carouselBody{
    background: #000000 url("../images/board.jpg");
    background-size: cover;
}

.modal{
    color: black;
}

.card-img-top{
    padding: 2em;
}

.card{
    margin-top: 4em;
    text-align: center;
}

